.header {
  z-index: 1;
  background-color: white;
  width: 1500px;
  height: 150px;
}
.header .first {
  display: flex;
}
.header .first .logo {
  margin-left: 113px;
}
.header .first .about {
  width: 500px;
  height: 30px;
}
.header .first .about .navbar .about__ul {
  list-style: none;
  display: flex;
  padding: 23px 0 0 0;
  position: absolute;
  height: 15px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
  -moz-column-gap: 33px;
       column-gap: 33px;
  right: 81px;
}

.great {
  width: 1280px;
  height: 600px;
  top: 73px;
  background-image: url(../block/Bitmap.png);
  margin: 141px 0 0 81px;
}
.great__title {
  width: 493px;
  height: 145px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FEFCF7;
  font-family: "Fraunces 9pt";
  padding: 117px 0 0 85px;
}
.great__description {
  width: 445px;
  height: 78px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  margin: 32px 0 0 86px;
}
.great__button {
  margin: 56px 0 0 86px;
  width: 217px;
  height: 56px;
  background: #0E8784;
  color: #FEFCF7;
  border: #0E8784;
  border-radius: 6px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
}

.background_p {
  z-index: 0;
  position: absolute;
  display: inline-block;
  width: 1111px;
  height: 196px;
  margin: 108px 0 0 165px;
  text-align: center;
  height: 72px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 150px;
  line-height: 72px;
  color: #83888F;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 100%, #FEFCF7 0, 1%);
}

.collection .gran {
  position: absolute;
  width: 255px;
  height: 0px;
  margin: 134px 0 0 165px;
}
.collection .gran__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
}
.collection .gran__p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}
.collection .planalto {
  position: absolute;
  width: 255px;
  margin: 134px 0 0 450px;
}
.collection .picollo {
  position: absolute;
  margin: 134px 0 0 734px;
  width: 255px;
  height: 1000px;
}
.collection .danche {
  position: absolute;
  margin: 150px 0 0 1020px;
  width: 255px;
  height: 1000px;
}

.choose {
  position: absolute;
  margin-top: 928px;
  margin-left: 80px;
  background-color: #333D4B;
  width: 1280px;
  height: 685.5px;
  border-radius: 8px;
}
.choose__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  padding: 121px 0 0 525.5px;
}
.choose__p {
  width: 540px;
  height: 80px;
  font-style: normal;
  font-family: "Barlow";
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
  mix-blend-mode: normal;
  opacity: 0.8;
  padding: 32px 0 0 370px;
}

.best {
  position: absolute;
  margin: 1311px 0 0 169px;
  width: 350px;
  height: 382px;
  background-color: #0E8784;
  border-radius: 8px;
}
.best__img {
  display: inline-block;
  padding: 72px 0 0 136px;
}
.best__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
  padding-top: 26px;
}
.best__p {
  padding: 24px 0 0 44px;
  width: 255px;
  height: 78px;
  font-family: "Barlow";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FEFCF7;
}

.benefits {
  position: absolute;
  margin: 1311px 0 0 545px;
  width: 350px;
  height: 382px;
  background-color: #0E8784;
  border-radius: 8px;
}

.shipping {
  position: absolute;
  margin: 1311px 0 0 925px;
  width: 350px;
  height: 382px;
  background-color: #0E8784;
  border-radius: 8px;
}
.shipping__img {
  display: inline-block;
  padding: 83px 0 37px 136px;
}
.shipping__title {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #FEFCF7;
}

.work__title {
  display: block;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  color: #83888F;
  margin: 1877px 0 0 165px;
}

.line {
  position: absolute;
  width: 760px;
  height: 1px;
  background-color: #FDD6BA;
  margin: 95px 0 0 180.5px;
}

.circle {
  position: absolute;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  margin: 80px 0 0 165px;
}

.circle2 {
  position: absolute;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  margin: 80px 0 0 545px;
}

.circle3 {
  position: absolute;
  background: #FEFCF7;
  border: 2px solid #0E8784;
  border-radius: 50%;
  width: 31px;
  height: 31px;
  margin: 80px 0 0 925px;
}

.receive {
  display: flex;
}
.receive .pick {
  margin: 178px 0 0 165px;
  width: 285px;
  height: 355px;
}
.receive .pick__h2 {
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 72px;
  color: #FDD6BA;
}
.receive .pick__h3 {
  width: 210px;
  height: 73px;
  padding-bottom: 42px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #333D4B;
}
.receive .pick__p {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #333D4B;
}

.button1 {
  margin: 264px 0 0 165px;
  width: 217px;
  height: 56px;
  background: #0E8784;
  color: #FEFCF7;
  border: #0E8784;
  border-radius: 6px;
  font-family: "Fraunces 9pt";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 25px;
}

.nimadir {
  width: 1280px;
  height: 120px;
  background-color: #2C343E;
  margin: 160px 80px 88px 80px;
  position: fixed;
}
.nimadir .logo2 {
  width: 203px;
  height: 24px;
}/*# sourceMappingURL=main.css.map */