.nimadir{
    width: 1280px;
    height: 120px;
    background-color: #2C343E;
    margin: 160px 80px 88px 80px;
    position: fixed;
        .logo2{
            width: 203px;
            height: 24px;
        }
    }
