button{
    cursor: pointer;
} 

button:hover{
    background: #66D2CF;
    border-radius: 6px;
    transition: 0.4s ease;
}

button:disabled{
    background: #E2DEDB;
    border-radius: 6px;
    transition: 0.4s ease;
}

.header{
    position: fixed;
    z-index: 1;
    background-color: white;
    width: 1500px;
    height: 150px;
    margin-top: -150px;}
    .first{
        padding-top: 40px;
        display: flex;
        .logo{
            cursor: pointer;
            margin-left: 113px;
        }
        .about{
            width: 500px;
            height: 30px;
            .navbar{
                .about__ul{
                    cursor: pointer;
                    list-style: none;
                    display: flex;
                    padding: 23px 0 0 0;
                    position: absolute;
                    height: 15px;
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.923077px;
                    text-transform: uppercase;
                    color: #83888F;
                    column-gap: 33px;
                    right: 181px;
                    }
                }
                .about__ul li:hover{
                    color: #000;
                    transition: 0.4s ease;
            }
        }
}