 

.header{
    z-index: 1;
    position: fixed;
    background-color: white;
    width: 1500px;
    height: 150px;
    .first{
        display: flex;
        .logo{
            margin-left: 113px;
        }
        .about{
            width: 500px;
            height: 30px;
            .navbar{
                .about__ul{
                    list-style: none;
                    display: flex;
                    padding: 23px 0 0 0;
                    position: absolute;
                    height: 15px;
                    font-family: 'Barlow';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 15px;
                    letter-spacing: 0.923077px;
                    text-transform: uppercase;
                    color: #83888F;
                    column-gap: 33px;
                    right: 81px;
                    }
                }
            }
        }
}